{% extends "@views/layout.html.twig" %}

{% block body %}
<h1>À propos</h1>

<p>
    Oui et non. Ce n'est pas une blague, mais David y est pour quelque chose.
    Il a créé un programme sans le savoir. Ce programme se nomme Prélude.
    Il vit sur Internet à travers tout le réseau. Chaque ordinateur connecté connais Prélude.
    Chaque ordinateur est une partie de Prélude. Le réseau est Prélude.
</p>
<p>
    C’est une informaticienne chevronnée de 35 ans.
    Une surdouée qui s’est découvert une passion pour l’informatique à l’âge de treize ans
    lorsqu’elle a vu une publicité pour cet ordinateur familiale dont on ventait les mérites
    à l’aide d’une petite marionnette virtuelle. Elle voulait un ami,
    elle a eu une marionnette virtuelle. Depuis, la marionnette a laissée place à des projets plus sérieux,
    plus lucratifs surtout. Mais Sophie, c’est comme ça qu’elle nommait sa marionnette,
    est toujours là, dans un petit coin de son ordinateur
    et c’est à Sophie qu’elle s’adresse quand le moral est au plus bas.
    Mais aujourd’hui, c’est Sophie qui s’adresse à Florence.
</p>
{% endblock %}