{% extends "@views/layout.html.twig" %}

{% block body %}
<h1>About</h1>

<p>
    Thirty years later, Breidbart remembers the moment clearly.
    As soon as Stallman broke the news that he, too, would be attending Harvard University in the fall,
    an awkward silence filled the room. Almost as if on cue,
    the corners of Stallman's mouth slowly turned upward into a self-satisfied smile.
</p>
<p>
    The anger eventually drove her son to focus on math and science all the more.
    Even in the realm of science, however, her son's impatience could be problematic.
    Poring through calculus textbooks by age seven,
    Stallman saw little need to dumb down his discourse for adults.
    Sometime, during his middle-school years,
    Lippman hired a student from nearby Columbia University to play big brother to her son.
</p>
{% endblock %}
