{% extends "@views/layout.html.twig" %}

{% block body %}
<div id="quiz-page" ng-controller="QuizzCtrl" ng-init="initWithConstant('quizz')">
    <div ng-include="'{{ app.request.baseUrl }}/templates/Quizz.html'"></div>
</div>
{% endblock %}
