<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="./vendor/autoload.php"
    colors="true"
>

    <testsuites>
        <testsuite name="ZCE Practice test core test suite">
            <directory>./src/ZCEPracticeTest/Core/Tests</directory>
            <directory>./src/ZCEPracticeTest/ImportExport/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
