<h1>{{ 'new.session'|trans }}</h1>

{% include '@template/_intro.' ~ app.locale ~ '.html.twig' ignore missing %}

<button id="create-session" class="btn btn-success btn-lg" ng-click="start()">{{ 'start.quiz'|trans }}</button>
