<div class="quiz-intro" ng-show="!started">
    {% include '@template/_intro.html.twig' %}
</div>

<div class="quiz-questions" ng-show="started && !finished">
    {% include '@template/_questions.html.twig' %}
</div>

<div class="quiz-result" ng-show="finished">
    {% include '@template/_result.html.twig' %}
</div>
