database:
    db.options:
        driver:     pdo_mysql
        host:       localhost
        dbname:     certiphp
        user:       root
        password:   root
        charset:    utf8

swiftmailer:
    server:
        host:       ~
        port:       ~ 
        username:   ~
        password:   ~
        encryption: ~
        auth_mode:  ~
    mailParameters:
        sender:
            email: ~
            name: CertiPHP
        subjectTag: CertiPHP

credits:
    free_credits_init: 1
    first_quiz_name: first-quiz
