database:
    db.options:
        driver:     pdo_mysql
        host:       localhost
        dbname:     zce
        user:       root
        password:   root
        charset:    utf8

translation:
    locale: fr
    locale_fallbacks: [en]

credits:
    free_credits_init: 1
