<div class="row">
    <div class="col-xs-12">
        <h1>{{ 'my.sessions'|translate }}</h1>
    </div>
    <div class="col-xs-12">
        <button ng-click="goToStartPage()" type="button" class="btn btn-default btn-tile">
            <span class="fui-plus lead"></span>
            <br />
            <span class="success lead">{{ 'new.session'|translate }}</span>
        </button><!--
                 
     --><button ng-if="hasCurrentSession" ng-click="goToCurrentSession()" type="button" class="btn btn-info btn-tile">
            <span class="fui-time lead"></span>
            <br />
            <span class="success lead">{{ 'current.session'|translate }}</span>
            <br />
            <timer
                interval="1000"
                end-time="quizz.dateStart + quizz.time * 1000"
                max-time-unit="'minute'"
                quiz-max-time="quizz.time"
                finish-callback="timerFinished()"
            >
                <span>{{ minutes }} {{ '_.remaining.minutes'|translate }}</span>
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="progress">
                            <div
                                class="progress-bar progress-bar-warning progress-bar-striped"
                                role="progressbar"
                                aria-valuenow="{{ 100 - (millis / (quizMaxTime * 10))|number:0 }}"
                                aria-valuemin="0"
                                aria-valuemax="100"
                                style="width: {{ 100 - (millis / (quizMaxTime * 10)) }}%"
                            >
                            </div>
                        </div>
                    </div>
                </div>
            </timer>
        </button><!--

     --><button
            ng-repeat="session in sessions"
            ng-if="session.status !== null"
            ng-click="goToSession(session.id)"
            ng-class="{'btn-danger': session.status === 0, 'btn-success': session.status === 1}"
            type="button"
            class="btn btn-tile"
            ng-switch="session.status"
            ng-disabled="session.status === 2"
        >
            <span ng-switch-when="0" class="success lead">FAIL</span>
            <span ng-switch-when="1" class="success lead">PASS</span>
            <span ng-switch-when="2" class="success lead">ABORTED</span>
            <br />
            <span ng-if="session.status !== 2" class="date">
                {{ session.dateFinished.date| jsDate | date: 'medium' }}
            </span>
            <span ng-if="session.status === 2" class="date">
                {{ session.dateStart.date| jsDate | date: 'medium' }}
            </span>
            <br />
            <span class="topics">{{ session.nbTopicsValidated || 0 }} / 10 {{ 'topics.validated'|translate }}</span>
        </button>
    </div>
</div>
