<div class="row">
    <div class="col-md-2 col-sd-12 row text-center">
        <h3 class="col-md-12 col-xs-6">{{ questionIndex() + 1 }} / {{ quizz.questions.length }}</h3>
    </div>
    <div class="col-md-10">
        <timer
            interval="1000"
            end-time="quizz.dateStart + quizz.time * 1000"
            max-time-unit="'minute'"
            quiz-max-time="quizz.time"
            finish-callback="timerFinished()"
        >
            <div class="progress">
                <div
                    class="progress-bar progress-bar-info progress-bar-striped"
                    role="progressbar"
                    aria-valuenow="{{ 100 - (millis / (quizMaxTime * 10))|number:0 }}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    style="width: {{ 100 - (millis / (quizMaxTime * 10)) }}%"
                >
                    <span ng-show="100 - (millis / (quizMaxTime * 10)) > 10">{{ minutes }} minute{{ minutesS }}</span>
                </div>
            </div>
        </timer>
        
        <div class="well">
            <h4>{{ currentQuestion.text }}</h4>
            <p class="small" ng-if="currentQuestion.nbAnswers > 1">(Choose {{ currentQuestion.nbAnswers }})</p>
        </div>
        
        <div ng-if="currentQuestion.code !== null" hljs source="currentQuestion.code"></div>
        
        <form role="form" class="well">
            <div class="form-group" ng-show="currentQuestion.type == 'radio'">
                <label class="radio" ng-repeat="answer in currentQuestion.answers">
                    <input class="custom-radio" type="radio" ng-model="currentQuestion.selectedAnswer" ng-value="answer"/>
                    <span class="icons">
                        <span class="icon-unchecked"></span>
                        <span class="icon-checked"></span>
                    </span>
                    <span class="answer">{{ answer.text }}</span>
                </label>
            </div>
            <div class="form-group" ng-show="currentQuestion.type == 'checkbox'">
                <label class="checkbox" ng-repeat="answer in currentQuestion.answers">
                    <input type="checkbox" class="custom-checkbox" ng-model="answer.checked" ng-disabled="!answer.checked && hasCheckedMaxChoices(currentQuestion)" />
                    <span class="icons">
                        <span class="icon-unchecked"></span>
                        <span class="icon-checked"></span>
                    </span>
                    <span class="answer">{{ answer.text }}</span>
                </label>
            </div>
            <div class="form-group" ng-show="currentQuestion.type == 'free'">
                <input type="text" ng-model="currentQuestion.typedAnswer" ng-keyup="$event.keyCode == 13 && (hasNext() ? next() : finish())" placeholder="Your answer" class="form-control"/>
            </div>
        </form>

        <div class="progress progress-striped">
            <div class="progress-bar progress-bar-info" role="progressbar" style="width: {{ questionIndex() * 100 / quizz.questions.length }}%;"></div>
        </div>

        <ul class="pager">
            <li class="previous" ng-if="showPrevious()" ng-click="previous();questionChange()">
                <a class="quiz-previous-button" href="">&larr; {{ 'previous'|translate }}</a>
            </li>
            <li class="next" ng-if="showNext()" ng-click="next();questionChange()">
                <a class="quiz-next-button" href="">{{ 'next'|translate }} &rarr;</a>
            </li>
            <li class="next" ng-if="!hasNext()" ng-click="finish();questionChange()">
                <a class="quiz-finish-button" href="">{{ 'finish'|translate }} &rarr;</a>
            </li>
        </ul>
    </div>
</div>
