body {
	padding-top: 70px;	
}

.btn-tile {
    width: 256px;
    height: 256px;
    margin: 0 8px 8px 0;
}
.zcpe-pass-fail {
    cursor: default;
}
.zcpe-pass-fail-quiz {
    font-size: 36px;
}
.zcpe-pass-fail-topic {
}
.checkbox .icons, .radio .icons {
    margin-top: 2px;
}
.answer {
    font-size: 16px;
}

.lang-flag {
	margin-left: 10px;
}

.lang-flag button, .lang-flag a {
    padding: 15px 5px !important;
	font-size: 16px;
	font-weight: 700;
	line-height: 23px;
	background-color: transparent;
	border: none;
}
